**/*.bak
transcript
work/**
src/model/explicit/models/adding_1.vhd
src/model/explicit/models/bakery_4.vhd
src/model/explicit/models/adding_2.vhd
src/model/explicit/models/bakery_1.vhd
src/model/explicit/models/bakery_2.vhd
src/model/explicit/models/bakery_3.vhd
